<h1>Artists</h1>
<%= link_to 'New Artist', new_artist_path %>
<hr />

<div class="ui grid">
  <% @artists.each do |artist| %>
    <div class="sixteen wide mobile weight wide tablet four wide computer column">
      <div class="ui fluid card">
        <div class="ui medium image">
          <img src="<%= artist.avatar %>" />
        </div>
        <div class="content">
          <%=
          link_to "#{artist.name}", artist, class: "center aligned header"%>
        </div>
        <div class="center aligned extra content">
          <div class="ui two buttons">
            <div class="green button basic">
              <%= link_to "Edit", edit_artist_path(artist) %>
            </div>
            <div class="red button basic">
              <%= link_to "Remove", artist,
               method: :delete,
               data: { confirm: 'Are you sure?'}
              %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<button class="ui button">
  <%= link_to 'Back', billboards_path %>
</button>
