<h1 class="ui header center aligned"><%= @artist.name %></h1>

<div class="ui container center aligned">
  <div class="ui centered card">
    <div class="ui image medium">
      <img src="<%= @artist.avatar %>">
    </div>
    <div class="content">
      <a class="header"><%= @artist.genre %></a>
      <div class="link">
        <span class="link"><%= link_to 'All Songs', artist_songs_path(@artist) %></span>
      </div>
    </div>
  </div>
</div>

<div class="ui container center aligned">
  <button class="ui button">
    <%= link_to 'Back to Artists', artists_path %>
  </button>
</div>
