<h1><%= @billboard.name %></h1>
<hr />

<% @songs.each do |song| %>
  <h3><%= song.title %></h3>
  <h4><i><%= song.artist.name %></i></h4>
  <p><%= song.duration %></p>

  <%= link_to 'View Song', artist_song_path(song.artist, song) %>
  <%= link_to 'Remove Song', remove_billboard_song_path(@billboard, song), method: :delete %>
<% end %>

<%= link_to 'Add Song', new_billboard_song_path(@billboard) %>
<%= link_to 'Edit Billboard', edit_billboard_path(@billboard) %>
<%= link_to 'Back', billboards_path %>
